* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tableTasksCompleted {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1em;
}

td, th {
    border: 1px solid #d8cfda;
    text-align: left;
    padding: 10px;
}

.tableTasksCompleted tbody:nth-child(even) {
    background-color: #92dda6;
}

#Delete {
    text-align: center;
}

hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

#btnDelete {
    text-rendering: none;
    color: none;
    letter-spacing: none;
    word-spacing: none;
    line-height: none;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: none;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    line-height: none;
}

